
.social-list {
  list-style: none;
  padding-left: 0px;
  float: right;
  margin-right: 25px;
}

.icon-list {
  display: inline;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-bottom: 2px;
}

.footer-div p {
  float: left;
  margin-left: 25px;

}

.Social-div {
 color: white;
}

.Social-div a {
  color: white;
}

.Social-div a:hover {
  color: #cdcdcd;
}

.social-float {
  clear: both;
}
