.photos-div {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}



.photo-carousel {
  border: solid white 3px;
  margin-bottom: 20px;
  width: 100%;
}


.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: #fff;
}
