.vimeo-modal-trigger a {
  text-transform: uppercase;
  color: white;
}

.vimeo-modal-trigger img {
  border: solid 3px white;
}

.vimeo-modal-trigger {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vimeo-videos-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
