.Web-div {
  text-align: center;
  margin: auto;
}


.Web-div a {
  color: white;
  text-decoration: underline;
}

.Web-div a:hover {
  color: #88bbd6;
}


.Web-ul {
  padding-left: 30px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 25px;

}

.Web-li {
  padding: 10px;
}
