.Web-div {
  text-align: center;
  margin: auto;
}


.Web-li ul {
  list-style-type: disc;
  text-transform: uppercase;

}

.Web-div li {
  list-style-type: square !important;
  text-transform: uppercase;
}
