.tabs.Work-tabs {
  border: 3px white dashed;
  width: 400px;
  margin: auto;
  margin-top: 25px;
  background: transparent;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 1.20rem;
  text-align: center;

}

.tabs.Work-tabs a {
  color: white;
  font-weight: 300;
  font-size: 25px;
  text-align: center;

}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #88bbd6;
  color: white;

}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: white;
  will-change: left, right;
}
