.Work-tabs {
  text-transform: uppercase;
  color: white;
  border: 3px white dashed;
  font-weight: 300;
  width: 300px;
  margin: auto;
  margin-top: 25px;
  padding: 7px;
  font-size: 25px;
  background: transparent;
  font-size: 30px;
}
