@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');


.App {
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;

}

.steves-h1 {
  border-top: 3px dotted white;
  border-bottom: 3px dotted white;
  letter-spacing: 2px;
  padding: 5px;
  color: White;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 3.5rem;
  min-width: auto;
  margin-top: 15px;
  font-weight: 300;
  width: 310px;

  margin-top: 235px;
}

.steves-h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 7px;
  color: white;
  margin: auto;
  text-transform: uppercase;
  width: 170px;
  font-weight: 300;
  margin-top: 25px;
  font-size: 30px;

}

.steves-h3 {
  text-transform: uppercase;
  color: white;
  border: 3px white dashed;
  font-weight: 300;
  width: 300px;
  margin: auto;
  margin-top: 25px;
  padding: 7px;
  font-size: 25px;
}


.Contact-s, .About-s, .Work-s, .Footer-s, .Title-s {
  border: solid 3px white;
  margin: 50px;
  color: white;
}

.About-s {
  background-color: #88bbd6;
}


.Work-s {
  background-color: #cdcdcd;
}

.Title-s {
  /*background: rgba(255, 255, 255, 0.5);*/
  height: 600px;
  margin-top: 120px !important;

}

.Contact-s {
  background-color: #cdcdcd;
}

.Footer-s {
  background-color: #99d3df;
  height: 50px;


}

.below-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 3px solid white;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(27deg, rgb(221,238,255) 23%, rgba(0,0,0,0) 23%), -webkit-linear-gradient(27deg, rgba(0,0,0,0) 74%, rgb(221,238,255) 78%), -webkit-linear-gradient(27deg, rgba(0,0,0,0) 34%, rgb(221,238,255) 38%, rgb(221,238,255) 58%, rgba(0,0,0,0) 62%), rgba(255,255,255,1);
  background: -moz-linear-gradient(63deg, rgb(221,238,255) 23%, rgba(0,0,0,0) 23%), -moz-linear-gradient(63deg, rgba(0,0,0,0) 74%, rgb(221,238,255) 78%), -moz-linear-gradient(63deg, rgba(0,0,0,0) 34%, rgb(221,238,255) 38%, rgb(221,238,255) 58%, rgba(0,0,0,0) 62%), rgba(255,255,255,1);
  background: linear-gradient(63deg, rgb(221,238,255) 23%, rgba(0,0,0,0) 23%), linear-gradient(63deg, rgba(0,0,0,0) 74%, rgb(221,238,255) 78%), linear-gradient(63deg, rgba(0,0,0,0) 34%, rgb(221,238,255) 38%, rgb(221,238,255) 58%, rgba(0,0,0,0) 62%), rgba(255,255,255,1);
  background-position: 7px 0, 0 0, 0 0;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 16px 48px;
  background-size: 16px 48px;

}




body {
  background-color: white;
}


/* MEDIA QUERIES */

@media (min-width: 200px) {
  .below-title {
    height: 100%;}
  .Contact-s, .About-s, .Work-s, .Footer-s, .Title-s {
      margin: 10px;
    }
  .Work-s img {
    width: 95%;
    }
  }





@media (min-width: 600px) {
  .Contact-s, .About-s, .Work-s, .Footer-s, .Title-s {
      margin: 30px;
  }
}


@media (max-width: 400px) {
  .behind-title {
    background-image: url('https://dr56wvhu2c8zo.cloudfront.net/sniebauer/assets/7948416a-a6a0-4afd-9500-5e3b7951f289.jpg');
    background-size: cover;
    border: none;
    height: 100%;
    padding-top:5px !important;
  }

  .Title-s {
    height: 300px;
    background: none;
    margin-top: 100px !important;
  }
  .steves-h1 {
    font-size: 40px;
    margin-top: 100px;
  }
  .steves-h2 {
    margin: auto;
  }


}
